<section class="hero-about hero-partner" title="About Section, Office View">
      <h1>About the orange review</h1>
      <div class="button-about-container">
        <button class="button-about-hover">About Us</button>
        <button class="button-about-hover">Partners</button>
        <button class="button-about-hover">Imprint</button>
      </div>
    </section>
    <section class="partner-intro">
      <div class="partner-intro-txt-container-centered">
        <div class="partner-intro-txt-container">
          <div class="partner-intro-txt">
            <div class="circles-figure-container">
              <img src="assets/circle-8.jpg" height="140px" class="circle-figure circle-8">
              <img src="assets/circle-2.jpg" height="75px" class="circle-figure circle-2">
              <img src="assets/circle-4.jpg" height="50px" class="circle-figure circle-4">
              <img src="assets/circle-6.jpg" height="50px" class="circle-figure circle-6">
              <img src="assets/circle-9.jpg" height="110px" class="circle-figure circle-9">
              <img src="assets/circle-5.jpg" height="110px" class="circle-figure circle-5">
              <img src="assets/circle-3.jpg" height="125px" class="circle-figure circle-3">
              <img src="assets/circle-1.jpg" height="55px" class="circle-figure circle-1">
              <img src="assets/circle-7.jpg" height="75px" class="circle-figure circle-7">
            </div>
            <h2>Thanks to our partners & sponsors</h2>
            <p>Nulla sit amet pulvinar elit, id sollicitudin ipsum. Nulla sit amet pulvinar elit, id sollicitudin ipsum. Nulla sit amet pulvinar elit, id sollicitudin ipsum. Nulla sit amet pulvinar elit, id sollicitudin ipsum.</p>
          </div>
        </div>
    </section>
    <section class="partner-grid">
      <div class="partner-grid-row-container">
        <div class="partner-logo-container">
          <div class="partner-logo">
            <img src="assets/partner-1.png" height="141px" alt="Build Carolina Logo">
          </div>
        </div>
        <div class="partner-grid-txt-container">
          <div class="partner-grid-txt-container-centered">
            <div class="partner-txt">
              <h5>Build Craolina</h5>
              <p class="partner-txt-paragraph">Nulla sit amet pulvinar elit, id sollicitudin ipsum. Nulla sit amet pulvinar elit, id sollicitudin ipsum. Nulla sit amet pulvinar elit, id sollicitudin ipsum. Nulla sit amet pulvinar elit, id sollicitudin ipsum.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="partner-grid-row-container">
        <div class="partner-grid-txt-container">
          <div class="partner-grid-txt-container-centered">
            <div class="partner-txt">
              <h5>SC Codes</h5>
              <p class="partner-txt-paragraph">Nulla sit amet pulvinar elit, id sollicitudin ipsum. Nulla sit amet pulvinar elit, id sollicitudin ipsum. Nulla sit amet pulvinar elit, id sollicitudin ipsum. Nulla sit amet pulvinar elit, id sollicitudin ipsum.</p>
            </div>
          </div>
        </div>
        <div class="partner-logo-container">
            <div class="partner-logo">
              <img src="assets/partner-2.png" height="64x">
            </div>
        </div>
      </div>
      <div class="partner-grid-row-container">
        <div class="partner-logo-container">
          <div class="partner-logo">
            <img src="assets/partner-3.png" height="120px">
          </div>
        </div>
        <div class="partner-grid-txt-container">
          <div class="partner-grid-txt-container-centered">
            <div class="partner-txt">
              <h5>Working Theory</h5>
              <p class="partner-txt-paragraph">Nulla sit amet pulvinar elit, id sollicitudin ipsum. Nulla sit amet pulvinar elit, id sollicitudin ipsum. Nulla sit amet pulvinar elit, id sollicitudin ipsum. Nulla sit amet pulvinar elit, id sollicitudin ipsum.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
