<h2>Create a new post</h2>
<%= form_for @post, url: {action: "create"} do |f| %>
  Title:<%= f.text_field :title %>
  Author:
  Tags:
  Body:<%= f.text_area :body %>
  <%= f.submit "Create" %>
<% end %>
