<% Post.all.each do |x| %>
   <section class="search-results">
     <div class="search-results-container-centered">
       <div class="search-results-img-container">
         <button class="button-opaque-lg-txt">Read More
         </button>
       </div>
       <div class="search-results-txt">
         <h6 class= "date-comments">
           <%= blue_time_format(x.created_at) %>
           <a href="#">15 Comments</a>
         </h6>
         <h2> <a href='<%= post_url(x.id)%>'> <%= x.title %>
         </h2></a>
         <div class="button-hash-container">
           <button class="button-hash">#Travel</button>
           <button class="button-hash">#Personal</button>
           <button class="button-hash">#Food</button>
           <button class="button-hash">#TagsForLikes</button>
         </div>
       </div>
     </div>
   </section>
<% end %>
