
<% @posts.each.with_index(1) do |x, index| %>
 <section class="search-results">
   <div class="search-results-container-centered">
     <div class="search-results-img-container">
       <button class="button-opaque-lg-txt">Read More
       </button>
     </div>
     <div class="search-results-txt">
       <h6 class="date-comments">
         <%= blue_time_format(x.created_at) %>
       </h6>
       <h2> <a href='<%= post_url(x.id)%>'> <%= x.title %>
       </h2></a>
       <div class="button-hash-container">
         <button class="button-hash">#Travel</button>
         <button class="button-hash">#Personal</button>
         <button class="button-hash">#Food</button>
         <button class="button-hash">#TagsForLikes</button>
       </div>
     </div>
   </div>
 </section>
 <% if (index) % 3 == 0 %>
   <div class="ad-horiz-background">
     <div class="ad-horiz-container-centered">
       <section class="ad-horiz-img-container">
         <div class="ad-horiz-text-container">
           <p class="ad-horiz">Top Best List of Restaurants at Your Destination
           </p>
           <button class="button-opaque">
           Learn More
           </button>
         </div>
       </section>
     </div>
   </div>
  <% end %>
<% end %>
