<div class="show-view-container">

  <div class="show-img-container"></div>

  <div class="show-book">
    <h1 class="width-show-book"><%= @post.title %></h1>

    <p class="width-show-book"><%= @post.body %></p>
  </div>

</div>