<div class="show-view-container">

  <div class="show-img-container"></div>

  <div class="show-book">
    <h1 class="width-show-book"><%= @post.title %></h1>
    <p class="p-author"><% @post.users.each do |x| %>
      <%=x.name %>
      <% end %></p>
    <p class="p-tags"><% @post.tags.each do |x| %>
      <%= x.name %>

      <% end  %>

    </p>

    <p class="width-show-book"><%= @post.body %></p>
  </div>

</div>
